\documentclass{article}
\usepackage[margin=2cm]{geometry}

\newcommand\showdiv[1]{\overline{\smash{)}#1}}

\begin{document}

\centering
\large
\bfseries

<% for plane in content %>
  \underline{<< title >>}

  \vspace{1cm}
  
  NAME: \hspace{7cm} DATE:
  
  \vspace{3cm}
  
  \begin{tabular}{<< col_spec >>}
  <% for row in plane %>
    \vspace{2.5cm}
    <% for col in row %>
      <<col>><% if not loop.last %>& \hspace{1cm}<% else %>\\<% endif %>
    <% endfor %>
  <% endfor %>
  \end{tabular}
  <% if not loop.last %>
    \newpage
  <% endif %>
<% endfor %>


\end{document}
